
#right {
  float: right;
}
#left {
  float: left;
  margin-left: 2%;
}
.liesWeTellCustomers {
  border: 5px solid black;
  padding: 2%;
  width: calc(40%);
  border-radius: 2px;
  height: 200%;
}
.About img {
  margin: 10%;
  width: calc(100% - 50px) !important;
  height: calc(100% - 50px) !important;
}
#theBigOne{
  float: right;
  margin-top:3%;
}
.liesWeTellCustomersBottom {
  border: 5px solid black;
  padding: 2%;
  margin-left: 10% !important;
  margin-top: 15%;
  width: 90%;
  border-radius: 2px;
  height: 200%;
  font-style: italic;
  font-weight: bolder;
  color:red;
}
