
#right {
  float: right;
}
#left {
  float: left;
  margin-left: 2%;
}
.liesWeTellCustomers Card {
  padding: 2%;
  width: calc(40%);
  border-radius: 2px;
  height: 200%;
}
.About img {
  margin: 10%;
  width: 40vw !important;
  height: 10vh;
}
#theBigOne{
  float: right;
  margin-top:3%;
}
.liesWeTellCustomersBottom {
  padding: 2%;
  margin-top: 1%;
  width: 100%;
  border-radius: 2px;
  height: 200%;
  font-weight: bolder;
  font-family: impact;
}
