@import url('https://fonts.googleapis.com/css?family=Gayathri&display=swap');

.App {
  text-align: center;
  width: 100%;
  min-height: 100%;
}
body{
  font-family: 'Gayathri';
  font-size: calc(10px + 2vmin);
}
::-moz-selection { /* Code for Firefox */
  color: white;
  background: green;
}

::selection {
  color: white;
  background: green;
}
nav {
  background-color: black;
  color: white;
  display: flex;
  min-width: 100vw;
  min-height: 30vh;
  overflow-x: hidden;
  justify-content: space-around;
}
a{
  margin-left: 5vw;
  position: relative;
  margin-top: 20vh;
}
.nav-links {
  color: white;
}
#header{
  text-align: center;
  background-color: black;
  color:red;
}
#logout{
  margin-left: 5vw;
  position: relative;
  margin-top: 20vh;
}
h1{
  padding-top: 4%;
}
Card.Header{
    color: red;
}
