
#reddit_headlines img {
  max-height: 150px !important;
  max-width: 150px !important;
  min-width: 50px;
  min-height: 50px;
  margin-top: 10%;
}

#financial img {
  max-height: 150px !important;
  max-width: 150px !important;
  min-width: 50px;
  min-height: 50px;
  margin-top: 10%;
}
