#sendAmount{
  margin-right: 10%;
}
#send{
  margin-top: 10%;
}
h2{
  font-weight: bold;
}
p{
  margin-top: 5%;
}
img{
  height: 50vh  !important;
  width: 50vw !important;
  margin: 10%;
}
body{
  overflow-x: hidden;
}
#headline{
  margin: 10%;
  list-style: none;
}
#balance{
  font-weight: bold;
  color:red;
  margin-top:2%;
  margin-bottom: 10%;
}
#send{
  margin-bottom: 10%;

}
#sendButton{
  margin-top:10%;
  margin-bottom: 5%;
}
#sendAmount{
  margin-top: 10%;
}
#sendAmount{
  margin-top:10%;
}
