#loanButton{
  margin-left: 1%;
  margin-top: 2%;
}
.loanApply{
  margin-bottom: 10%;
  margin-top: 5%;

}
#payButton{
  align:right;
  margin-left: 20%;
  font-weight: bold;
}
.loan{
  border: 2px solid black;
  margin-top:10%;
  border-radius: 2%;
}
#loanEven{
    background-color: #ffffcc;
}
#loanOdd{
  background-color: #e6ffff;
}
