#loanButton{
  margin-left: 1%;
  margin-top: 2%;
}
.loanApply{
  margin-bottom: 10%;
  margin-top: 5%;

}
 
#payButton{
  align:right;
  margin-left: 20%;
  font-weight: bold;
}
#loan:hover{
  background-color: black;
  color: white;
}
