#loginButton{
  width:100vw;
  margin-top: 30vh;
}
#loginForm{
  justify-content: space-between;
}
#username{
  margin-top: 20vh;
}
#password{
  margin-top:10vh;
}
h1{
  background-color: rgb(52, 58, 64);
  width: 100vw;
  text-align: center;
  color:white;
}
#buttonLeft{
  margin-left: 30vw;
  position: relative;
}
#buttonRight{
  margin-left: 20vw;
  position: relative;
}
