#transactions{
  margin-bottom: 10%;
  margin-top: 10%;
  color:white;
}
#transaction{
  color:black;
  animation: slide 1.4s;
}
#transaction:hover{
  font-family: impact;
  color: white;
  background-color: #555
}
