#transactions{
  margin-bottom: 10%;
  margin-top: 10%;
  color:white;
}
#transactionEven{
  color:black;
  animation: slideLeft 2.2s;
  border: 4px solid black;
  font-family: sans-serif;
  border-radius: 2%;
  background-color: #ffffcc
}
#transactionOdd{
  color:black;
  animation: slideRight 2.2s;
  border: 4px solid black;
  font-family: sans-serif;
  border-radius: 2%;
  background-color: #e6ffff
}
#transaction:hover{

}
