#transactions{
  margin-bottom: 10%;
  margin-top: 10%;
  color:white;
}
#transaction{
  color:black;
  animation: slide 1.4s;
  border: 4px solid black;
  font-family: sans-serif;
}
#transaction:hover{
  color: white;
  background-color: #555
}
