@import url('https://fonts.googleapis.com/css?family=Gayathri&display=swap');

.App {
  text-align: center;
  font-size: calc(4px + 2vmin);
  width: 100%;
  min-height: 100%;
}
body{
  font-family: 'Gayathri';
}
::-moz-selection { /* Code for Firefox */
  color: white;
  background: green;
}

::selection {
  color: white;
  background: green;
}
