@import url('https://fonts.googleapis.com/css?family=Gayathri&display=swap');

.App {
  text-align: center;
  font-size: calc(4px + 2vmin);
  width: 100%;
  min-height: 100%;
}
body{
  font-family: 'Gayathri';
}
::-moz-selection { /* Code for Firefox */
  color: white;
  background: green;
}

::selection {
  color: white;
  background: green;
}
nav {
  background-color: black;
  color: white;
  display: flex;
  min-width: 100vw;
  margin-bottom: 10%;
  overflow-x: hidden;
  justify-content: space-around;
}
a{
      margin-left: 5vw;
}
.nav-links {
  color: white;
  list-style: none;
  margin-top: 25vh;
}
.header {
  color: white;
  text-decoration: underline;
  position: absolute;
}
