button{
  float: inherit;
    margin-left: 2vw;
    position: relative;
    margin-top: 20vh;
}
nav{
  background-color: black;
  color:white;
  display: flex;
  min-width: 100vw;
  margin-bottom: 10%;
  overflow-x: hidden;
  justify-content: space-around;
}
.navigation{
  float: right;
}
.nav-links
{
  color:white;
  list-style: none;
  margin-top:10%;
  float: left;

}
.header{
  color:white;
  text-decoration: underline;
  position: absolute;
  justify-content: space-around;
  margin-bottom: 10vh;
}
