button:hover{
  background-color: red !important;
  color: white;
}
button{
  margin-left: 5vw !important;
  position: flex;
  align-content: center;
}
nav{
  background-color: black;
  color:white;
  display: flex;
  min-width: 100vw;
  min-height: 10vh;
  margin-bottom: 10%;
  overflow-x: hidden;
}
.navigation{
  float: right;
}
.nav-links
{
  color:white;
  list-style: none;
  display: flex;
  margin-top:10%;
  float: left;
}
.header{
  color:red;
  position: absolute;
text-align: right;
text-decoration: underline;
}
